@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
.about {
  background-color: #0a2750;
  position: relative;
  overflow: hidden;

  display: flex;
}
.about__title {
  padding: 100px 0 0 80px;
  position: relative;
  margin: 0;
  max-width: 251px;
  color: #ffffff;

  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  position: relative;
  margin: 119px 80px 173px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 660px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  position: absolute;
  border-radius: 50%;
  height: 426px;
  width: 426px;
  top: -152px;
  left: -129px;
  background-color: #2f80ed;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
