.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.form__input {
  padding-left: 15px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin: 8px 0 32px 0;
}

.form__label {
  font-weight: 500;
}

.form__button {
  margin-bottom: 32px;
  background-color: #2f80ed;
  height: 60px;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  transition: opacity 0.2s linear;
  font-weight: 500;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}
.form__checkbox-pair {
  border: none;
  margin: 0 auto 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
