.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  z-index: 0;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  margin: 200px 0 0 0;
  padding-left: 80px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  padding-left: 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  box-sizing: border-box;
  font-weight: 500;
  color: #838383;
}

.header__hours {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  font-weight: 500;
}
.header__paragraph {
  margin: 0;
}
.header__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
}
